* {
  box-sizing: border-box;
}

:root {
  --dark: rgb(60, 22, 60);
  --light: #fff;
}

body {
  font-family: "Palatino", "URW Palladio L", serif;  
  margin: .4% 5%; 
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}

header {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
}

header img {
  width: 100px;
  height: 100px;
  border-style: groove;
  border-width: 1px;
  border-radius: 50%;
  margin: 20px;
  padding: 5px;
}

header h1 {
  display: inline-block;
  margin-left: 15px;
  margin-top: 50px;
  font-size: 40px;
  color: var(--light);
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(110, 2, 110);
  font-size: 15px;
}

nav a {
  color: var(--light);
  font-size: 25px;
  padding: 15px 40px;
  text-decoration: none;
}

.titles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.firstcard {
  flex: 1 0 100%;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
} 

.firstcard header {
  text-align: center;
  padding: 25px;
  background-color: var(--dark);
  color: var(--light);
}

.firstcard img {
  width: 100%; 
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.card {
  flex: 1 0 100%;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
}

.card header {
  text-align: center;
  padding: 25px;
  background-color: var(--dark);
  color: var(--light);
}

.card img {
  width: 100%; 
}

/* tablet */
@media screen and (max-width: 1200px) {
  /* .firstcard {
    flex: 0 0 100%;
  }
   */
  .card {
    flex: 1 0 50%;
  }

 .card img {
    width: 50%; 
  } 

}
/* desktop */
@media screen and (max-width: 768px) {
  /* .firstcard {
    flex: 0 0 100%;
  } */
  
  .card {
    flex: 1 0 100%;
  }

  .card img {
    width: 100%; 
  }
}