* {
  box-sizing: border-box;
}

:root {
  --dark: rgb(60, 22, 60);
  --light: #fff;
}

body {
  font-family: "Palatino", "URW Palladio L", serif;  
  margin: .4% 5%; 
}

header {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--dark);
  color: var(--light);
}

header img {
  width: 100px;
  height: 100px;
  border-style: groove;
  border-width: 1px;
  border-radius: 50%;
  margin: 20px;
  padding: 5px;
}

header h1 {
  display: inline-block;
  margin-left: 15px;
  margin-top: 50px;
  font-size: 40px;
  color: var(--light);
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(110, 2, 110);
  font-size: 15px;
}

nav a {
  color: var(--light);
  font-size: 25px;
  padding: 15px 40px;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}

.titles {
  display: flex;
  width: 100%;
  border-block: 5px solid black;
  margin: 10px 0px;
  text-align: center;
  justify-content: center;
}

.paragraph {
  text-align: left;
}

/* projects_big image*/
.firstcard {
  flex: 1 0 100%;
  padding: 5px;
  border-style: solid;
  border-width: 3px;
} 

/*pseudo-class*/
.firstcard:hover {
  border-color: red;
}

.firstcard img {
  width: 100%; 
  padding: 10%;
  background-color: var(--dark);
}

/* smaller images*/
.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
  justify-content: space-around;
  margin: 0 auto;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
}

.card {
  display: flex;
  flex: 1 0 50%;
  justify-content: space-around;
  padding: 5px;
  border-style: solid;
  border-width: 3px;
  width: 100%;
  background-color: var(--dark);
} 

.card img {
  width: 100%; 
  padding: 8%;
  background-color: var(--dark);
}

/*pseudo-class*/
.card:hover {
  border-color: red;
}

footer {
  display: flex;
  justify-content: center;
}

/*medium desktop*/
@media screen and (max-width: 992px) {
  .card {
    width: 50%;
  }

  .card img {
    width: 50%;
  }
}

/*tablets*/
  @media screen and (max-width: 768px) {
    .card {
      flex: 100%;
    }
  
    .card img {
      width: 33%;
    }
  }
